# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

menuconfig INPUT_PINNACLE
    bool "Cirque Pinnacle trackpads"
    default y
    depends on GPIO
    depends on SPI || I2C
    depends on INPUT
    depends on DT_HAS_CIRQUE_PINNACLE_ENABLED
    help
      Enable driver for Cirque Pinnacle trackpads

if INPUT_PINNACLE

config INPUT_PINNACLE_INIT_PRIORITY
    int "Cirque Pinnacle initialization priority"
    default INPUT_INIT_PRIORITY

config ZMK_INPUT_PINNACLE_IDLE_SLEEPER
    bool "Pinnacle Sleep linked to ZMK idle state"
    default n

config ZMK_INPUT_PINNACLE_REPORT_INTERVAL_MIN
	int "Cirque Pinnacle's default minimum report rate"
	default 0
	help
	  Default minimum report interval in milliseconds.
	　  Slow down input reporting for hid queue over the air.
	　  Turn value down to 8ms to get sharp response if use with USB only.


endif
